.Notification {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 300px;
    padding: 0 8px;
    transform-origin: center bottom;
    box-sizing: content-box;
    flex: 0;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        max-height: 0;
        min-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }
    to {
        opacity: 1;
        max-height: 300px;
        min-height: 75px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 8px;
    }
}

.Notification.enter {
    animation: fadeIn 1s;
    opacity: 1;
    min-height: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        max-height: 300px;
        min-height: 75px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 8px;
    }
    to {
        opacity: 0;
        max-height: 0;
        min-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.Notification.exit {
    animation: fadeOut 1s;
    opacity: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.Notification.exit > .NotificationClose {
    cursor: default;
}

.NotificationClose {
    align-self: flex-start;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    color: #737373;
    border-radius: 50%;
    cursor: pointer;
    touch-action: auto;
    pointer-events: auto;
}

.NotificationClose:hover {
    background: #c2c2c2;
    transition: background-color .25s;
}

.NotificationIcon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-color: #737373;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.NotificationIcon.success {
    background-color: #8dc53f;
}

.NotificationIcon.error {
    background-color: #e44b4b;
}

.NotificationIcon.warning {
    background-color: #E1BC29;
}

.NotificationIcon.info {
    background-color: #4D9DE0;
}

.NotificationText {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.NotificationText > h3 {
    flex: 1;
    margin: 0;
    font-size: 16px;
}

.NotificationText > p {
    flex: 1;
    margin: 0;
    font-size: 13px;
    color: grey;
}
