.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginForm > label {
    margin: 0;
    font-weight: bold;
}

.LoginForm > input {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.LoginForm > button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
