.admincalendar-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 550px;
}

.admincalendar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.admincalendarHeader, .admincalendarBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.admincalendarHeader {
    font-weight: 200;
    padding-bottom: 0px;
}

.admincalendarBody {
    flex: 1;
    padding-top: 0px;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    border-radius: 25px;
}

.calendarHeader, .calendarBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.calendarHeader {
    background-color: #F38D6A;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendarBody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.adminheaderDay {
    font-weight: 200;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerDay {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerDay .currentDay {
    font-size: 14px;
    margin-bottom: 4px;
}

.headerDay .weekDay {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.headerDay .monthDay {
    font-size: 12px;
    margin-bottom: 0;
}

.calendarBody {
    flex: 1;
    background-color: #FFF3EF;
}

.dayColumn {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayHour {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.hourAvail {
    color: #000;
    cursor: pointer;
}

.hourNotAvail {
    color: #CCC;
    cursor: default;
}

.hourAvail:hover {
    border: 2px solid black;
    padding: 0;
    border-radius: 5px;
    background-color: #F38D6A;
}

.adminhourDisplay {
    color: #000;
    cursor: pointer;
}

.adminhourSelected {
    color: #CCC;
    cursor: default;
}

.adminhourDisplay:hover {
    border: 2px solid black;
    padding: 0;
    border-radius: 5px;
}

.dayHour .time {
    margin: 0;
    transition: 2s all;
}
