html,
body,
#__next {
  height: 100%;
  position: relative;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.btn-toolbar {
  margin-top: 30px;
  margin-bottom: 60px;
}

.applications-list {
  margin-bottom: 60px;
}

.progress-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.reactstrap-input {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 6px;
  vertical-align: middle;
}

.notificationContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  touch-action: none;
  pointer-events: none;
  padding: 8px;
  overflow: hidden;
}

.formCollapseController {
  padding: 16px;
  margin-bottom: 16px;
  border: 2px solid #cacaca;
  border-radius: 5px;
}

.formCollapseController.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.formCollapse {
  margin-top: -16px;
  margin-bottom: 16px;
}

.formCollapse > div {
  padding: 32px;
  border: 2px solid #cacaca;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.formCollapse > div > .form-group:nth-last-child(1) {
  margin-bottom: 0;
}

.bogLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
