.scheduledContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generalText {
    border-bottom: 1px solid #c9c9c9;
    padding: 24px 16px 4px;
    text-align: center;
}

.meetingSection {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.nameColumn {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
