.formSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin-top: 20px;
}

.formInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.singleInput {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
  height: 48px;
  border-radius: 4px;
}

.submitButton {
  width: 200px;
  height: 48px;
  font-weight: 600;
  background-color: #f38d6a;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.25);
  color: white;
  margin-top: 30ppx;
}
