{
    "parser": "babel-eslint",
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends" : "airbnb",
    "rules": {
        "linebreak-style": 0,
        "no-underscore-dangle": "off",
        "no-console": "off"
    }
}
