.availcalendar-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 650px;
}

.availcalendar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.availcalendarHeader, .availcalendarBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.availcalendarHeader {
    font-weight: 200;
    padding-bottom: 0px;
}

.availcalendarBody {
    flex: 1;
    padding-top: 0px;
}

.availheaderDay {
    font-weight: 200;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.availhourDisplay {
    padding: 0;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
}

.availhourSelected {
    padding: 0;
    background-color: #C4C4C4;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all ease-in;
}

.availhourDisplay:hover {
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.smallText {
    font-size: 10px;
}
