.flexHorizontal {
    width: 100%;
    height: 100%;
    margin-top: -48px;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.flexVertical {
    flex: 1;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.appListSearch {
    height: 64px;
    flex-shrink: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border: 2px solid #e1e1e1;
    border-bottom: none;
}

.appNameList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 2px solid #e1e1e1;
}

.appNameContainer {
    cursor: pointer;
    padding: 8px;
    border-left: 4px solid transparent;
    border-bottom: 1px solid #cdcdcd;
    flex-shrink: 0;
}

.appNameContainer:hover {
    background-color: #cbe2ff;
}

.appNameContainer.nameSelected {
    background-color: #e1eeff;
    border-left: 4px solid #007cff;
}

.appNameContainer > * {
    margin: 0;
}

.appNameContainer > h3 {
    font-size: 18px;
}

.appNameContainer > p {
    font-size: 12px;
    color: #737373;
}

.appView {
    flex: 1;
    height: 100%;
    border: 2px solid #e1e1e1;
    border-left: none;
    overflow-x: hidden;
    overflow-y: auto;
}
