.applicationWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: content-box;
    padding: 0 16px;
    border-bottom: 2px solid #e1e1e1;
}

.nameHeader > h3 {
    font-weight: bolder;
    margin: 0;
}

.nameHeader > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0;
}

.nameHeader > button > h4 {
    margin: 0 0 0 8px;
    font-size: 16px;
}

.applicationContent {
    padding: 16px;
}
